<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kaushan+Script&display=swap" rel="stylesheet">
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="about">
<%- include('./partials/nav.ejs') %>
<div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <div class=" text-left text-white py-5 px-5" id="info">
            <br>
            <br>
            <h1 id="shopping">A brand new shopping experience</h1><br>
            <p>Westview, a once sleepy town where nothing happened.<br>Now you can shop your way through the decades!<br><br> Our founder Wanda Maximoff believed in the ability<br> to make reality what you want it to be.<br>Now our town never sleeps!</p>
            <br>
           
        </div>
        <div class=" py-5 img-fluid">
            <img class="z-depth" alt="100x100" src="/wanda.png" id="awanda" >
        </div>
    </div>
</div> 
<footer class="text-center text-white fixed-bottom" id="foot" >© 2022 ET Creatives<br>*Images and WandaVision content from Marvel Studios</footer>
</body>
</html>