<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <title>Document</title>
</head>
<body>
    <header class="text-center">Westview<br> Home: Its where you make it
    </header>
   <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="row">
            <% decs.forEach((dec)=>{ %>
                    
                        <div class="col-lg-4 col-sm-6 py-5">
                            <a href="/wv/<%= dec._id %>">
                                <div class="card bg-dark h-100">
                                    <img class="img-fluid img-thumbnail h-100" src="<%= dec.img %>">
                                    <div class="card-img-overlay text-center text-white">
                                        <h3>
                                        <%= dec.decade %>
                                        </h3>
                                    </div>
                                </div>  
                            </a>
                        </div>
                  
            <% }) %> 
        </div>
    </div>
</body>
</html>


