<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <title>Westview</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kaushan+Script&display=swap" rel="stylesheet">
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<div id="welcome">
    <header class="text-center text-white py-3">
        <div id="welcomeTo">Welcome To</div>
        <div id="westview">WESTVIEW</div>
        <div id="home">"Home: It's where you make it!"</div>
    </header>
</div>
<%- include('./partials/nav.ejs') %>
<body id="hex">
    <div class="container">
        <div class="row">
            <% decs.forEach((dec)=>{ %>
                <div class="col-lg-4 col-sm-6 py-5 ">
                    <a href="/wv/<%= dec._id %>">
                        <div class=" card h-100 w-100 bg-image" id="hexagon">
                            <div class="picture1">
                                <img class=" h-100 w-100 "  src="/hex2.png">
                            </div>
                            <div class="picture2 ">
                                <img class=" h-100 w-100" src="<%= dec.img %>">
                            </div>
                            <div class="img-overlay position-absolute top-50 start-50 translate-middle text-white" id="decade">
                                <h3>
                                    <%= dec.decade %>
                                </h3>
                            </div>
                        </div>  
                            </a>
                        </div>
            <% }) %> 
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>


