<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Welcome to Westview</header>
    <nav>
        <ul>
            <a href=" "><li>
                About
            </li></a>
            <a href=" "><li>
                Login/Signup
            </li></a>
            <a href=" "><li>
                Cart
            </li></a>
        </ul>
    </nav>
    <div>
        <ul>
            <% decs.forEach((dec)=>{ %>
                <li>
                    <a href="/wv/<%= dec._id %>">
                        <%= dec.decade %>
                    </a>
                </li>
            <% }) %> 
        </ul>
    </div>
</html>