<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Review</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Kaushan+Script&display=swap" rel="stylesheet">
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="newReview">
  <%- include('../partials/nav.ejs') %>
<h1 class="text-center text-white py-5" id="newRH">Your <%=product.name%> Review</h1>
<div class="container">
    <form method="POST" action="/wv/<%= decade._id %>/reviews/<%= product._id %>">
    <div class="col-sm-4 py-3 mx-auto">
      <label class="text-white visually-hidden">Title</label>
      <input class="form-control" id="title" type="text" name="title" placeholder="Title">
    </div>
    <div class="col-sm-4 py-3 mx-auto">
      <label class="text-white visually-hidden">Review:</label>
      <textarea id="comments" name="content" placeholder="Comments" class="form-control"></textarea>
    </div>
    <div class="col-sm-1 py-3 mx-auto">
      <label class="text-white visually-hidden">Rating:</label>
      <select name="rating" class="form-select" id="select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="col-auto text-center py-3">
      <input id="addReview" class="btn btn-outline-light" type="submit" value="Add Review">
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>